/* Шрифты: Raleway 700, Roboto 500, Roboto 900, Roboto 700, Roboto 400*/
/* Основной цвет фона белый #FFFFFF*/
/* Акцент #2196F3 */
/* Цвет основного текста #757575 */
/* вторичный цвет фона #212121; */
/* Цвет футера и секции герой #2F303A - ? думаю это будет по-другому делаться */
/* Цвет секции наша команда #F5F4FA - ? думаю это будет по-другому делаться */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121; 
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
  }
  
  body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

   font-family: Roboto, sans-serif;
   letter-spacing: 0.03em;
  }

  a {
    text-decoration: none;
  }

  .list {
    list-style-type: none;
  }

   /* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;  
  font-size: 26px;
  line-height: 1.2;
}

  .logo-header {
  color: #000000;
}

/* Site nav */
.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav:hover, 
.site-nav:focus {
  color:var(--accent-color);
}

.current {
color: var(--accent-color);
}

.logo-part {
  color: var(--accent-color);
}

.header-contact {
 color: var(--primary-text-color);
 font-weight: 500;
 font-size: 14px;
 line-height: 1.1;
 letter-spacing: 0.02em;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.hero,
.footer {
  background-color: #2F303A;
}

.hero-title {
 color: var(--primary-white-color);
 font-weight: 900;
 font-size: 44px;
 line-height: 1.36;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
}

/* Button */
.hero-button {
color:var(--primary-white-color);
background-color: var(--accent-color);
font-family:inherit;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
font-weight: 700;
min-width: 200px;
font-size: 16px;
line-height: 1.9;
}

.portfolio-button {
color: var(--title-text-color);
background-color: #F5F4FA;
font-family:inherit; 
justify-content: center;
cursor: pointer;
font-weight: 500;
min-width: 73px;
font-size: 16px;
line-height: 1.6;
}

.portfolio-button:hover,
.portfolio-buttonn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  
}

.benefits-title {
 color: var(--title-text-color); 
 font-weight: 700;
 font-size: 14px;
 line-height: 1.1;
 text-transform: uppercase;
}

.about-us {
color: var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.7;
text-align: center;
}

.command {
  background-color: #F5F4FA;
}

.name-employee {
color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
}

.position {
font-size: 16px;
line-height: 1.2;
text-align: center;
}

.name-project {
color: var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.type-project {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

/* Footer */

.logo-footer {
  color:var(--primary-white-color);
}

.contact {
color: var(--primary-white-color);
font-size: 14px;
line-height: 1.7;
font-style: normal;
}

.connection {
color: rgba(255, 255, 255, 0.6);
}

.connection:hover,
.connection:focus {
  color: var(--accent-color);
}